#about {
  padding-top: 65px;
  height: 80vh;
}
.box {
  background-color: #f4f4f4;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  margin-left: 50px;
  box-shadow: 0 0 20px #7e7c7cb3;
  border-bottom: 2px solid black;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
