#about {
  padding-top: 65px;
  height: 80vh;
}
.box {
  background-color: #f4f4f4;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  margin-left: 50px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
