#home {
  padding-top: 72px;
  height: 100vh;
  background-image: url("/img/bgpic.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* Parallax effect */
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.font {
  color: white;
  font-size: x-large;
  letter-spacing: 1px;
}
