#work {
  padding-top: 55px;
  height: 170vh;
  width: 90%;
  margin-left: 80px;
  border-bottom: 1px solid rgb(202, 200, 200);
}

.container {
  max-width: 1150px;
  overflow: hidden;
  margin: auto;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.work-img {
  width: 350px;
  height: 350px;
  border-radius: 2px;
}
.work-name a {
  position: relative;
  top: -30px;
  left: 50%;
  background-color: #eeebeb;
  color: black;
  padding: 20px;
  text-decoration: none;
  width: 90px;
  height: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
